.b-question {

	input[type=submit] {
		margin-top: .5rem;
	}

	&__label {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		input {
			margin-left: .5rem;
		}

		label {
			margin: 0;
			padding-left: .5rem;
		}
	}

	&__image {
		width: 100px;
		height: auto;
	}

	&.albumcover {
		.b-question__questions {
			display: flex;
			flex-flow: row wrap;
		}
	}
}