.b-question {

	input[type=submit] {
		margin: 1rem;
	}

	form {
		margin-top: 1rem;
	}

	&__label {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		input {
			margin-left: .5rem;
		}

		label {
			margin: 0;
			padding-left: .5rem;
		}
	}

	&__counter {
		position: fixed;
		top: 0rem;
		height: 3rem;
		right: 1rem;
		z-index: 99999;
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			color: white;
		}
	}

	&__image {
		width: 10rem;
		height: auto;
		margin-top: 1rem;
	}

	&.albumcover {
		.b-question__questions {
			display: flex;
			flex-flow: column nowrap;

			@include media-breakpoint-up(md) {
				flex-flow: row wrap;
			}
		}

		.b-question__label {
			margin-right: 1rem;

			@include media-breakpoint-up(md) {
				margin-right: 0;
			}
		}
	}

	&.lyrics {
		h3 {
			&:before {
				content: '"';
			}
			&:after {
				content: '"';
			}
		}
	}
}