html {
	@include responsive-font($font-size-fluid, $font-size-min, $font-size-max, $font-size-min);
}

body {
	--color-background:#22272b;
	--color-on-background:#fff;
	--color-layer-transparent:rgba(0,5,11,0.9);
	--color-surface:#F0F;
	--color-primary:#0F0;
	--color-on-primary:#fff;
	--color-on-surface: #fff;
	font-size: $font-size-base;
}

html,
body,
#app-container {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}

.site-header {
	background-color: $m-blue;
	min-height: 3rem;

	a {
		color: $white;
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
}

#home {
	> div:first-child {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.shdw {
		color: white !important;
		text-shadow: 0px 0px 4px #000000;
	}

	.splash-bg {
		background-image: url('../../assets/splash.jpeg');
		background-size: cover;
		background-position: center center;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		pointer-events: none;
		opacity: 1;
	}
}

.get-notifications {
	margin-right: auto;
	margin-top: 1rem;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.youtube-container {
	max-width: 40rem;
	margin: auto;
}
